---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Quienes from '../components/Quienes.astro';
import Atributos from '../components/Atributos.astro';
import Footir from '../components/Footir.astro';
import Whatsapp from '../components/Whatsapp.astro';
import Historia from '../components/Historia.astro';
---

<Layout title="pasteleria">
	<main>
	<Header/>
	<Quienes/>
	<Atributos/>
	<Historia/>
	<Footir/>
	<Whatsapp/>

	</main>
</Layout>
