<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    

<div class="widget-flotante">
    <a href="https://wa.me/+528713782705" target="_blank" title="Contáctanos por WhatsApp">
      <img src="whatsapp.png" alt="whatsApp">
    </a>
  </div>
  
  <style>
    .widget-flotante {
      position: fixed;
      bottom: 25px;
      right: 25px;
      z-index: 9999;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease;
    }
  
    .widget-flotante:hover {
      transform: scale(1.1);
    }
  
    .widget-flotante img {
      width: 75px;
      height: 75px;
      
    }
  </style>
  

</body>
</html>